
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root{

    --color-primary-desaturatedRed: hsl(0, 36%, 70%);
    --color-primary-softRed: hsl(0, 93%, 68%);
    --color-neutral-darkGrayishRed: hsl(0, 6%, 24%);

    --gradient-one: 135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%);
    --gradient-two: 135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%);

    --font-size-body:16px;
    --font-family-josefin-sansSerif:'Josefin Sans', sans-serif;
    --font-weight-300:300;
    --font-weight-400:400;
    --font-weight-600:600;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url(images/bg-pattern-desktop.svg);
    font-family: var(--font-family-josefin-sansSerif);
    display: flex;
    font-size: var(--font-size-body);
}

img{
    max-width: 100%;
}
.container{

    display: flex;
    align-items: center;
    height: 100vh;
   
}
.info{
flex: 1;
padding: 8em;
display: flex;
flex-direction: column;
justify-content: center;
}

.info p{
}

.info__brand{
    margin-bottom: auto;
 
}

.info-bottom{

}

.info__text{
    width: 70%;

}

.info__text h1{
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: var(--font-weight-600);
    width: min-content;
    line-height: 1.5em;

}
.info__text h1 span{
    color: var(--color-primary-desaturatedRed);
    font-weight: 100;
}
.info__text p{
    color: var(--color-primary-desaturatedRed);
    line-height: 1.5rem;
    margin-bottom: 3em;
}


.info__text h1{
    margin-bottom: .5em;
}
.info__form{
    margin-bottom: auto;
    width: 70%;
}
/* Parent */
.info__form {
    position: relative;
}
.error{
    position: absolute;
    display: block;
}


/* Input */
.info__form input{
    outline: none;
    width: 100%;
    border: 1px solid var(--color-primary-desaturatedRed);
    padding: 1.5rem;
    border-radius: 50px;
}

.info__form input:invalid{
   border-color: red;
}

.info__form p{
    color: red;
    display: none;
    position: absolute;
    top: 4.5em;
    left: 2em;
    
 }
.info__form:has(input:invalid) p{
    display: block;
}




.info__form input::placeholder{
    color: var(--color-primary-desaturatedRed);
}
/* Button */
.info__form button{
    position: absolute;
    right: 0;
    padding: 1.3rem 3rem;
    border-radius: 50px;
    border-width: 0;
    background-image: linear-gradient(var(--gradient-two));
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, .1);
}

.picture{
    flex: 1;
    height: 100%;
 
}


.picture img{
    object-fit: cover;
    height: 100%;

}


@media screen and (max-width:768px) {

    body{
        height: 100%;
    }
    .container{
        flex-direction: column;
    }

    .picture img{
        height: 350px;
        object-fit: cover;
        width: 100%;
        object-position: 0 2em;
    }



    
}
